Data/
venv/
__pycache__/
Project*
*.zip
.ipynb_checkpoints/
"Chapters/~$apter one.docx"
"Chapters/~$apter three.docx"
"Chapters/~$apter two.docx"
Chapters/~WRL0773.tmp
DUMP.docx
dumb.ipynb
~$DUMP.docx
~$ference.docx
"~$oject jottings.docx"
~WRL1207.tmp
~WRL2306.tmp
